.body {
  margin-bottom: 10%;
  height: 100vh;
  width: 95%;
  position: relative;
  /* border-style: double; */
  /* top: 50%;
  left: 30%; */
  margin: auto;
  background-color: #28918a;
  border-radius: 10px;
  box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.3);
}
.box {
  width: 60%;
  height: 100vh;
  background-color: white;
  color: black;
  top: 50%;
  left: 72%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  /* text-align: center; */
  /* border-style: double; */
  border-color: #000;
}
.left-side {
  width: 40%;
  height: 50vh;
  background-color: #28918a;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  left: 20%;
}

.head-left {
  text-align: center;
  font-size: 30px;
}
.head-right {
  text-align: center;

  font-size: 40px;
}

.form p {
  margin-left: 10%;
  padding: 0;
  font-weight: bold;
}
.form input {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 15px;
}
.form input[type='text'] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 35px;
  color: #000;
  font-size: 16px;
}
.buttn {
  border: none;
  outline: none;
  height: 30px;
  text-align: center;
  /* width: 160px; */
  width: 40%;
  /* width: 70%; */
  margin-bottom: 10px;
  background-color: rgb(38, 100, 100);
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 20px;
}
.buttn:hover {
  background-color: rgb(6, 150, 150);
}

.modal_file {
  font-size: 18px;
}
