/* button[submit] {
  color: #28918a !important;
} */

.signup__btn {
  background-color: #18504c !important;
  border: none !important;
}

.signup__btn:hover {
  border: 1px solid #18504c !important;
  color: white !important;
  background-color: #47afa8 !important;
}
.MuiFormHelperText-root {
  color: red !important;
}

/* .signup__container {
    height: 80vh;
    background: #1a1f1e !important;
  } */
