.footer__container {
  height: 200px;
}

.upward__btn {
  background-color: white !important;
  color: #18504c !important;
  border: none !important;
  position: absolute;
  right: 20px;
  bottom: 80px;
  z-index: 99;
}

.upward__btn:hover {
  background-color: rgb(212, 238, 232) !important;
  border: none !important;
  outline: none !important;
}

.Fcontent {
  height: 180px;
  color: white;
  background-color: #18504c;
  width: 100%;
  text-align: left;
  opacity: 90%;
  border-top: solid white;
}

.copyright {
  display: flex;
  justify-content: space-around;
  margin-left: 70%;
  margin-right: 10%;
  padding-top: 65px;
  position: absolute;
  font-size: x-small;
  text-align: right;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .copyright {
    font-size: 8px;
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-around;
    margin-left: 53%;
    margin-right: 60%;
    padding-top: 75px;
    position: absolute;

    text-align: right;
    width: 45%;
  }
}

.left {
  float: left;
  width: 50%;
}

.fcontent {
  padding-bottom: 80px;
  margin-top: 10px;
  position: inherit;
}

.center {
  size: 100px;
}
