.listingitem__item {
  display: flex;
  background-color: #efefef;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 270px;
  /* z-index: 1; */
}

.listingitem__item__image {
  /* object-fit: contain; */
  width: 180px;
  height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.listingitem__item__details {
  padding-left: 20px;
  margin-top: 10px;
}

.listingitem__item__title {
  font-weight: 800;
  font-size: 20px;
}

.listingitem__item__price {
  border: 1px solid #1e504c;
  border-radius: 3px;
  color: #1e504c;
  text-align: center;
  width: 70px;
}

.listingitem__item__button {
  background-color: #1c504c !important;
  color: white !important;
}

.listingitem__item__button:hover {
  background-color: #29918a !important;
  color: white !important;
}

.listingitem__item__rating {
  display: flex;
}

.rating__star {
  color: rgb(196, 180, 44) !important;
}

@media screen and (max-width: 768px) {
  .listingitem__item {
    height: 250px;
  }
  .listingitem__item__image {
    object-fit: contain;
    width: 140px;
    height: 90%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .listingitem__item__details {
    padding-left: 15px;
    margin-top: 15px;
    height: 80%;
  }

  .listingitem__item__title {
    font-size: 15px;
  }

  .listingitem__item__author {
    font-size: 12px;
  }
  .listingitem__item__department {
    font-size: 12px;
  }
  .listingitem__item__isbn {
    font-size: 12px;
  }
  .listingitem__item__price {
    font-size: 12px;
  }
  .listingitem__item__button {
    font-size: 10px !important;
    align-self: stretch;
  }
}
