/* button[submit] {
  color: #28918a !important;
} */

.signup__btn {
  background-color: #18504c !important;
  border: none !important;
}

.signup__btn:hover {
  background: white !important;

  /* border: 1px solid #18504c !important; */
  color: #18504c !important;
}

/* .signup__container {
  height: 80vh;
  background: #1a1f1e !important;
} */
