.services {
  background: white;
  color: black;
  height: 120vh;
  width: 100vw;
  font-size: 50px;
}

.services__container {
  margin-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.services__card {
  background-color: green !important;
}

.services__description {
  z-index: 99;
  color: white;
  position: absolute;
}

.services__image {
  /* background-color: #2e3236 !important; */
  opacity: 2.8 !important;
  object-fit: contain !important;
}

.services__btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: #18504c !important;
  border: none !important;
}

.font1 {
  color: rgb(3, 0, 0);
  font-weight: 50;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
}

/* Prob not needed------------------- ---------*/

.element {
  position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.element:before {
  content: '\f000';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}
